// app global css
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300&display=swap&subset=cyrillic');

@font-face
  font-family 'Akrobat-Bold'
  src url(./fonts/Akrobat_Bold.ttf)

.ubuntu-light-font
  font-family 'Ubuntu', sans-serif
  font-weight 300

